/* header and nav layout */
header {
  background-color: #969696;
  color: white;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 36px 130px 1fr;
  align-items: center;
  width: 100%;
  background-color: #969696;
  color: white;
  z-index: 2;
}

header nav[aria-expanded=true] {
  grid-template: 'hamburger brand' 'sections sections' 'tools tools';
  grid-template-columns: 36px 1fr;
  grid-template-rows: var(--nav-height) 1fr auto;
  position: fixed;
  min-height: 100vh;
  width: 70%;
  background-color: #969696;
  color: white;
  box-shadow: 30vw 0 rgba(0 0 0 / 70%);
  overflow-y: auto;
}

@media (min-width: 700px) {
  header nav {
    grid-template:
      'hamburger brand tools' var(--nav-height)
      'sections sections sections' 1fr / 60px 220px 1fr;
  }

  header nav[aria-expanded=true] {
    grid-template-columns: 60px 1fr;
  }
}

@media (min-width: 900px) {
  header nav {
    grid-template: 'brand sections tools';
    grid-template-columns: 220px 1fr auto;
    grid-template-rows: var(--nav-height);
    width: 1400px;
    max-width: 98%;
    margin: 0 auto;
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 1200px) {
  header nav {
    grid-template-columns: 260px 1fr auto;
    font-size: var(--body-font-size-l);
  }
}

header nav a:any-link {
  color: currentcolor;
}

header nav a:hover {
  text-decoration: none;
}

header nav > div {
  line-height: 1;
}

/* brand */
header nav .nav-brand {
  grid-area: brand;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
  background-color: #808080;
  z-index: 2;
}

header nav[aria-expanded=true] .nav-brand {
  justify-content: flex-start;
  padding-left: 10px;
}

header nav[aria-expanded=true] .nav-brand a {
  left: 10px;
}

header nav .nav-brand img {
  max-width: 120px;
  max-height: 40px;
}

@media (min-width: 700px) {
  header nav[aria-expanded=false] .nav-brand {
    align-self: flex-start;
    min-height: 120px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 30%);
  }

  header nav .nav-brand img {
    max-width: 210px;
    max-height: 50px;
  }

  header nav[aria-expanded=false] .nav-brand img {
    max-width: 220px;
    max-height: 110px;
  }
}

@media (min-width: 1200px) {
  header nav .nav-brand {
    margin-left: 10px;
  }
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 16px;
  margin: 0 auto;
  cursor: pointer;
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::after,
header nav[aria-expanded=false] .nav-hamburger-icon::before {
  box-sizing: border-box;
  display: block;
  position: relative;
  top: 6.5px;
  height: 3px;
  width: 16px;
  margin: auto;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after,
header nav[aria-expanded=false] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: 6.5px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
  top: -6.5px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  transform: translateX(-2px);
}

header nav[aria-expanded=true] .nav-hamburger-icon::after,
header nav[aria-expanded=true] .nav-hamburger-icon::before {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 6.5px;
  width: 20px;
  height: 3px;
  background: currentcolor;
  transform: rotate(45deg);
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  transform: rotate(-45deg);
}

@media (min-width: 700px) {
  header nav .nav-hamburger {
    transform: scale(1.75);
  }
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  margin-top: 10px;
  text-transform: uppercase;
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  align-self: flex-start;
}

header nav .nav-sections ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
} 

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-sections a,
header nav .nav-sections .nav-drop span {
  display: block;
  padding: 10px;
}

header nav .nav-sections .nav-drop span {
  position: relative;
  color: white;
}

header nav .nav-sections a:hover,
header nav .nav-sections .nav-drop span:hover {
  background-color: #898989;
  cursor: pointer;
}

header nav .nav-sections .nav-drop span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 13px;
  right: 10px;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  transition: transform .2s;
}

header nav .nav-sections .nav-drop ul li a {
  padding-left: 20px;
}

header nav[aria-expanded=true] .nav-sections .nav-drop[aria-expanded="true"] span::after {
  top: 10px;
  transform: rotate(45deg);
}

header nav[aria-expanded=true] .nav-sections .nav-drop[aria-expanded="false"] ul {
  display: none;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: unset;
    margin-top: 0;
    margin-left: 10px;
  }

  header nav .nav-sections ul {
    display: flex;
    height: var(--nav-height);
  }

  header nav .nav-sections ul > li {
    flex-grow: 1;
    position: relative;
    padding: 0;
    line-height: 40px;
  }

  header nav .nav-sections ul > li:hover {
    background-color: #898989;
  }

  header nav .nav-sections a, 
  header nav .nav-sections .nav-drop span {
    padding: 10px 15px;
    text-align: center;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    text-align: center;
  }

  header nav .nav-sections .nav-drop span {
    display: inline-block;
    margin: auto;
    padding-right: 24px;
  }

  header nav .nav-sections .nav-drop span::after {
    top: 23px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] span::after {
    top: 26px;
    transform: rotate(-135deg);
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] {
    background-color: #898989;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] ul {
    display: block;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    min-width: max-content;
    height: unset;
    padding: 10px 0;
    background-color: #898989;
    text-align: left;
    text-transform: initial;
    z-index: 2;
    box-shadow: 0 8px 8px 1px rgb(0 0 0 / 30%);
  }

  header nav .nav-sections > ul > li[aria-expanded=true] ul li a {
    padding: 0 10px;
    text-align: left;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] ul li a:hover {
    background-color: #969696;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 16px;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}
