footer {
  padding: 2rem;
  background-color: white;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 768px;
  margin: auto;
  text-align: center;

}

footer .footer p {
  margin: 0;
}

footer .footer li {
  line-height: 1.2;
}

footer .footer .footer-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .footer .footer-logos a {
  margin: 8px;
  white-space: nowrap;
}

footer .footer .footer-logos img {
  height: 45px;
}

footer .footer .footer-legal ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px 32px;
  list-style: none;
  padding-left: 0;
}

footer .footer .footer-legal a {
  text-transform: uppercase;
}

footer .footer .footer-legal #ot-sdk-btn.ot-sdk-show-settings {
  height: unset;
  padding: 0;
  border: 0;
  color: var(--link-color);
  font-size: inherit;
  line-height: inherit;
}

footer .footer .footer-legal #ot-sdk-btn.ot-sdk-show-settings:hover {
  background-color: unset;
  color: var(--link-hover-color);
}
